PyGObject
PyGithub
aiohttp
editorconfig
jsonschema
lxml
packaging
pyelftools
python-apt @ http://deb.debian.org/debian/pool/main/p/python-apt/python-apt_2.6.0.tar.xz
python-magic
requests
ruamel.yaml
semver
toml
packaging
