name: Tests

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "**"

env:
  DOCKER_REGISTRY: ghcr.io
  DOCKER_IMAGE: flathub/flatpak-external-data-checker

jobs:
  check-formatting:
    name: Check formatting
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-setuptools
          sudo python3 -m pip install \
            black

      - name: Run black
        run: |
          python3 -m black --check .

  build-and-test-container:
    name: Build and test container
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build container
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ env.DOCKER_IMAGE }}:build
          push: false
          load: true
          cache-from: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE }}:latest

      - name: Run tests in container
        run: |
          docker run -v $PWD:$PWD -w $PWD --entrypoint bash ${{ env.DOCKER_IMAGE }}:build -c \
          "pip3 install coverage && python3 -m coverage run -m unittest discover --verbose --buffer"

      - name: Submit code coverage to Coveralls.io
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          sudo apt-get install -y \
            python3-setuptools
          sudo python3 -m pip install \
            coveralls
          python3 -m coveralls
        continue-on-error: true

      - name: Login to registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: flathubbot
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Push image to registry
        if: github.event_name != 'pull_request'
        run: |
          docker image tag \
            ${{ env.DOCKER_IMAGE }}:build \
            ${DOCKER_REGISTRY}/${DOCKER_IMAGE}:${GITHUB_SHA::7}
          docker image tag \
            ${{ env.DOCKER_IMAGE }}:build \
            ${DOCKER_REGISTRY}/${DOCKER_IMAGE}:latest
          docker image push \
            ${DOCKER_REGISTRY}/${DOCKER_IMAGE}
